# Dependency directories
node_modules
dist
dist-single

# Logs
*.log
.pnpm-debug.log*

# Docker files
Dockerfile
docker-compose.yaml
docker-compose.override.yml
.dockerignore

# Environment variables
.env
.env.*

# OS & Editors
.DS_Store
.vscode
.idea
.zed
*.swp

# Project specific
upload/
*.py
README.md

# Version control
.git
.github